@font-face {
    font-family:"BOYCOTT";
    src: url("fonts/BOYCOTT_.ttf") /* EOT file for IE */
}
@font-face {
    font-family:"troika";
    src: url("fonts/troika.otf") /* EOT file for IE */
}
@font-face {
    font-family:"ubuntu";
    src: url("fonts/ubuntu.ttf") /* EOT file for IE */
}
@font-face {
    font-family:"nexa-b";
    src: url("fonts/Nexa Bold.otf") /* EOT file for IE */
}
@font-face {
    font-family:"nexa-l";
    src: url("fonts/Nexa Light.otf") /* EOT file for IE */
}
