$hm-blue: #00203E;
$hm-orange: #F26221;
$hm-blue-l: #AFD2E1;
$hm-offwhite: #F9F9F9;

$hm-font-l: 30px;
$hm-font-m: 22px;
$hm-font-s: 18px;
$hm-font-t: 14px;

$sa-environment: #6fbf4d;
$sa-science: #f25c33;
$sa-space: #334b57;
$sa-corruption: #ffce55;